#wrapper {
	width: 90%;
	margin: auto;
}

.light-msg {
	width: 100%;
	height: 65vh;
	border: 1px solid black;
}

.dark {
	background-color: black;
	color: #fefefe;
}

.dark-msg {
	width: 100%;
	height: 65vh;
	border: 1px solid white;
}

.larger {
	font-size: 1.8em;
}