.test > p, .test > button {
    display: inline-block;
    margin-top: 15px;
}

.test:nth-child(odd) {
    background-color: gray;
}

.test:nth-child(even) {
    background-color: lightgrey;
}

#wrapper {
    width: 90%;
    margin: auto;
}

.light-msg {
    width: 100%;
    min-height: 65vh;
    border: 1px solid black;
}

.dark {
    background-color: black;
    color: #fefefe;
}

.dark-msg {
    width: 100%;
    min-height: 65vh;
    border: 1px solid white;
}

.larger {
    font-size: 1.8em;
}

#usr-input {
    color: black;
}